.small_inner_block {
	height: 200px;
}

#descendancy_chart ul {
	margin: 0px 0px 5px 30px; /* top right bottom left */
	padding: 0px 0px 0px auto; /* top right bottom left */
}
#descendancy_chart li {
  margin: 0px 0px 2px -30px;
  padding: 0px 0px 0px 0px;
  }